.blog-header-content .banner-container{
  background-image: url("/assets/images/travel/travel_header_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-header-content{
    margin-top: $header-height;
}