<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <h2 class="footer-heading">Drop me a line.</h2>

      <div class="footer-col">
        <a class="social-media" href="https://www.facebook.com/Rowemin-Around-777470195757345/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>
      <div class="footer-col">
        <a class="social-media" href="https://twitter.com/rowemin_around" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="footer-col">
        <a class="social-media" href="https://www.instagram.com/rowemin_around/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="footer-col">
        <a href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </div>

  </div>

</footer>
