---
layout: default
---
<header class="post-header blog-post-content">
	<div class="banner-container" style="background-image:url({{page.images[0].url | prepend: site.baseurl}})">
		<h3><span>{{page.title}}</span></h3>
	</div>
</header>
<div class="blog-post-container">
  <div class="wrapper">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</div>
